.module.menu {
	display: block;
  position: fixed;
  top: 20px;
  width: 100%;
  height: 75px;
  z-index: 0;
}

.module.menu h1 {
	display: none;
}

.module.menu ul {
  display: block;
  position: relative;
  width: 700px;
  height: 75px;
  margin-left: 300px;
  list-style: none;
  border-bottom: 1px solid #aaa;
}

.module.menu ul li {
  display: inline-block;
  padding-top: 15px;
  padding-left: 17px;
  padding-right: 17px;
  height: 52px;
  margin-top: -10px;
}

.module.menu li a.logo {
  width: 48px;
  height: 48px;
}

.module.menu li a.logo img{
  width: 48px;
  height: 48px;
}

.module.menu ul li a{
  color: #fff;
  text-decoration: none;
  font-family: 'RobotoLight', Arial, sans-serif;
  font-size: 20px;
  width: 100%;
  height: 100%;
  -webkit-transition: color 0.7s;
  -moz-transition: color 0.7s;
  -o-transition: color 0.7s; 
  transition: color 0.7s;
}
.module.menu ul li a:hover{
  color: rgba(255,255,255,.8);
}