.module.contatos {
  background-color: #20546a;
  margin-top: 43px;
  height: 381px;
}

.module.contatos hr {
  background-color: #eeeae3;
  position: absolute;
  margin-top: -15px;
  width: 1000px;
  height: 4px;
  z-index: 0;
}

.module.contatos h1.titulo {
  background-color: #20546a;
  position: relative;
  margin-left: 73px;
  padding-left: 15px;
  padding-right: 15px;
  width: 200px;
  z-index: 1;
  text-transform: uppercase;
  font-family: 'OpenSansSemibold', sans-serif;
  text-align: center;
  vertical-align: middle;
  font-size: 31px;
  color: #eeeae3;
}

.module.contatos p.titulo-endereco {
  background-image: ;
  color: #fff;
  font-family: 'OpenSansLight', sans-serif; 
  font-size: 23px;
  padding: 0;
}

.module.contatos p.texto-endereco {
  font-family: 'OpenSansLight', sans-serif;
  font-size: 15px;
  color: #fff; 
}

.module.contatos p.git {
  background-image: ;
  color: #fff;
  font-family: 'OpenSansLight', sans-serif;
  font-size: 15px;
  margin-top: 30px;
}

.module.contatos a{
  color: #fff;
  text-decoration: none;
}

.module.contatos div.esquerda{
  width: 400px;
  margin-top: 80px;
  display: inline-block;
}

.module.contatos p.google-maps {
  position: relative;
  width: 536px;
  height: 204px;
  margin-top: 30px;
  margin-right: 40px;
  display: inline-block;
  float: right;
  border: 1px solid #fff;
}