*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #eee;
  font: 14px 'Open Sans' sans-serif;
}

a {
  text-decoration: none;
}

.page-header {
  background-color: #ccc;
  background-image: url(components/header/img/header-bg.jpg);
  background-size: cover;
  display: table;
  height: 100vh;
  position: relative;
  width: 100%;
}

.page-header h1 {
  display: table-cell;
  font-size: 0;
  text-align: center;
  vertical-align: middle;
}

.page-header h1:before {
  content: url(components/header/img/logo-header.png);
  display: inline-block;
}

.page-nav {
  background-color: rgba(255, 255, 255, .5);
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  left: 0;
  padding: 0 2em;
  position: absolute;
  text-align: right;
  top: 0;
  width: 100%;
}

.page-nav li {
  display: inline-block;
  padding: 1.5em;
}

.page-nav li a {
  color: #111;
  font-size: 1.2rem;
}

.page-main {
  position: relative;
}
