*,
*:before,
*:after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

body {
  display: table;
  font: 1vw 'Open Sans', sans-serif;
  text-align: center;
  user-select: none;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.estilo1 {
  background: #36f;
  transition: all .5s;
}

.estilo1 button {
  background-color: #333;
  border-radius: .2em;
  box-shadow: 0 0 .1em #000, .05em .05em .1em rgba(0, 0, 0, .9), inset .05em .05em .1em rgba(255, 255, 255, 0.5);
  color: #fff;
  cursor: pointer;
  display: table-cell;
  font-size: 2em;
  font-weight: bold;
  margin: calc(25% - 3em) 1em;
  padding: 1em 2em;
  text-transform: uppercase;
  transition: all .5s;
  vertical-align: middle;
}

.estilo1 button:hover {
  box-shadow: 0 0 .5em #000, .05em .05em .1em rgba(0, 0, 0, .9), inset .05em .05em .1em rgba(255, 255, 255, 0.5);
  transition: all .5s;
}

.estilo2 {
  background: #eee;
  transition: all .5s;
}

.estilo2 button {
  border-radius: 100%;
  box-shadow: .05em .05em .1em rgba(0, 0, 0, .9), inset .05em .05em .1em rgba(255, 255, 255, 0.5);
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: table-cell;
  font-size: 1em;
  font-weight: bold;
  margin: calc(25% - 7.5em) 1em;
  padding: 3.5em 2em;
  text-shadow: .02em .02em 0 rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  transition: all .5s;
  vertical-align: middle;
}

.estilo2 #muda1 {
  background-color: #c00;
}

.estilo2 #muda2 {
  background-color: #0c0;
}

.estilo2 #muda3 {
  background-color: #36f;
}

.estilo2 button:hover {
  box-shadow: 0 0 1em #000, .05em .05em .1em rgba(0, 0, 0, .9), inset .05em .05em .1em rgba(255, 255, 255, 0.5);
  transition: all .5s;
}

.estilo3 {
  background: #333;
  transition: all .5s;
}

.estilo3 button {
  background-color: transparent;
  border-radius: 0;
  color: #36f;
  cursor: pointer;
  display: table-cell;
  font-size: 3em;
  font-weight: bold;
  margin: calc(25% - 1em) 1em;
  padding: 0;
  text-transform: uppercase;
  transition: all .5s;
  vertical-align: middle;
}

.estilo3 button:hover {
  transition: all .5s;
}