.module.quem-somos {
  background: #eeeae3;
  height: 600px;
}

.module.quem-somos hr {
  border: 0;
  height: 4px;
  background: #90ada9;
  z-index: 0;
  margin-top: -14px;
}

.module.quem-somos h1 {
  margin-top: 40px;
  margin-left: 70px;
  background-color: #eeeae3;
  z-index: 1;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  text-transform: uppercase;
  color: #20546a;
}

.module.quem-somos div.posicao {
  margin-top: 40px;
  margin-bottom: 20px;
  display: inline-block;
  margin-right: 450px;
}

.module.quem-somos p {
  word-spacing: 5px;
  text-indent: 30px;
  margin-top: 20px;
}

.module.quem-somos div.imagem1 {
  float: right;
  margin-top: -250px;
  width: 400px;
  height: 200px;
}

.module.quem-somos div.imagem2{
  float: right;
  margin-top: -410px;
  margin-right: 100px;
  width: 330px;
  height: 170px;
}