.module.footer {
  padding:20px 0 50px 0;
  color:#666;
  font-size: 13px;
  background:#000;
}

.module.footer a {
  color:#CCC;
  text-decoration: none;
}
.module.footer a:hover {
  color:#FFF;
  text-decoration: underline;
}

.module.footer .copyright {
  float:left;
}

.module.footer .credits {
  float:right;
}
