.module.jumbotron {
  max-height: 100vh;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  z-index: 0;
}
.module.jumbotron:after {
  background-color: rgba(0, 0, 0, .44);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.module.jumbotron .logo {
  height: auto;
  left: calc(50% - 250px);
  position: absolute;
  top:calc(50% - 62px);
  width: 500px;
  z-index: 2;
}

.module.jumbotron figure {
  display: none;
}

.module.jumbotron figure:first-child {
  display: block;
}

.module.jumbotron figure img {
  display: block;
}
