.module.parceiros {
  padding: 40px 0;
}

.module.parceiros hr {
  border: 0;
  height: 4px;
  background: #90ada9;
  z-index: 0;
  margin-top: -10px;
}

.module.parceiros h1 {
  margin-left: 73px;
  background-color: #fff;
  z-index: 1;
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
  font-family: 'OpenSansSemibold', sans-serif;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  font-size: 31px;
  color: #20546a;
}

.module.parceiros ul {
  padding:30px 0;
  list-style: none;
  text-align: center;
}

.module.parceiros li {
  display:inline-block;
  vertical-align: middle;
  margin:0 20px;
}


.module.parceiros .x img {
  width: 70px;
  height: auto;
}

.module.parceiros .etec img {
  width: 130px;
  height: auto;
}

.module.parceiros .toledo img {
  width: 160px;
  height: auto;
}

.module.parceiros .gaivota img {
  width: 100px;
  height: auto;
}