.module.equipe {
  position: relative;
  top: 40px;
  height: 400px;
  width: 100%;
  z-index: 999;
  background-color: #fff;
}

.module.equipe h1 {
  position: relative;
  text-indent: 2em;
  color: #36561a;
  font-weight: semibold;
  font-size: 31px;
  font-family: 'OpenSansRegular';
  text-transform: uppercase;
}

.module.equipe h1 span {
  background: white;
  padding: 1em;
}

.module.equipe h1:after {
  content: '';
  display: block;
  width: 100%;
  border-bottom: 4px solid #36561a;
  z-index: -1;
  position: absolute;
  bottom: 8px;
  left: 0;
}

.module.equipe h2 {
  margin: 15px;
}

.module.equipe img {
  position: relative;
  width: 194px;
  height: 194px;
  border-radius: 50%;
  padding: 20px;
  transition: width .15s, height .15s, padding .15s;
  z-index: 1;
  margin-top: -80px;
}
.module.equipe li:hover img {
  position: relative;
  transition: width .15s, height .15s, padding .15s;
  z-index: 999;
  padding: 0;
}
.module.equipe ul li {
  display: inline-block;
  width: 190px;
  height: 190px;
  padding: 0;
  margin: 0;
  text-align: center;
}
.module.equipe .foto {
  position: relative;
  top: 100px;
  z-index: 0;
}
.module.equipe .nome {
  position: relative;
  top: 80px;
  width: 190px;
  z-index: 1;
  font-size: 20px;
  font-family: 'OpenSansSemibold';
}
.module.equipe .funcao {
  position: relative;
  border: 0px solid #000;
  top: -92px;
  left: 0;
  height: 190px;
  width: 190px;
  opacity: 100;
  font-size: 20px;
  transition: opacity .5s;
  z-index: 2;
  display: inline-block;
  font-family: 'OpenSansSemibold';
}
.module.equipe li .funcao, li .nome {
  opacity: 0;
  transition: opacity .15s;
}
.module.equipe li:hover .funcao, li:hover .nome {
  opacity: 100;
  z-index: 2;
  transition: opacity .5s;
}
